<!DOCTYPE html>
<html lang="en">
<head>
        {% load compute %}

    <meta charset="UTF-8">
    <title>{{ context.2 }}핫플 비교 결과</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../">So Hot! Seoul Hot Ple</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                               <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../1bz">핫플 순위</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../2em">콜플 순위</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../3my">여긴 핫플?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../4vs">핫플 비교</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../5cm">통근/통학</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../6fd">이달의 불금</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#replier">핫플 채팅</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#total">핫플 검색</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
       <br>
    <br>
    <br>
   <br>
<div align="center">
    <div class="jumbotron" align="center">
        <br>
  <h2>{{ now.0 }} ,{{ now.1 }} 현재</h2>
</div>
{% for sts in context%}
    {% if forloop.counter < 11%}
{% ifequal forloop.counter 1 %}
     <div class="panel panel-primary">
                      {% else %}
  <div class="panel panel-info">
  {% endifequal %}
    <div class="panel-heading">{{ sts.0 }}</div>



<div class="panel-body">

<h4>{{ sts.1 }} {{ sts.2 }} 현 인원 {{ sts.3 }}명</h4>
<h5>금일 누적인원 {{ sts.4 }}명 대비 현 인원 혼잡도 {{ sts.5 }}%</h5>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow={{ sts.5 }}   aria-valuemin="0" aria-valuemax="100" style="width:{{ sts.5 }}%">
    <span class="sr-only">현재 일 중 {{ sts.5 }} %</span>
  </div>
</div>
</div>
  </div>
        </div>
    {% endif %}
{% endfor %}
    </div>
</body>
</html>